body {
      font-family: Arial, sans-serif;
      margin: 20px;
}

#app {
    max-width: 400px;
    margin: auto;
}

#time-input {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
}

.input-container {
  position: relative;
}

#error-message {
  position: absolute;
  top: 80%;
  left:0;    
  color: red;  
  font-size: 14px;
  z-index: 1000;
  display: none;
}

#error-message.show {
  display: block;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin-left: 10px;
    padding: 10px;
}