.reviews {
    position: relative;
    color: #000;
}

.number {
    position: absolute;
    font-size: 15px;
    color: grey;
    top: 8px;
    left: 130px;
}
.container {
    border-top: 1px solid rgb(138, 138, 138);
    margin-top: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.platform {
    font-size: 25px;
    color: blue;
}

.details {
    display: flex;
    align-items: center;
    color: gray;
    font-weight: bold;
}

.rating {
    padding-left: 20px;
    font-size: 20px;
}

.text {
    font-size: 17px;
    color: rgb(65, 65, 65);
    font-weight: bold;
    padding-top: 20px;
}

.loadMore {  
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
  background-color: #ededed;
  color: rgb(102, 102, 102);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.loadMore:hover {
  background-color: #dddddd;
  transform: translateY(-2px);
}

.loadMore:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(196, 196, 196, 0.5);
}